extends containers/base

block content
  .container.pb-5
    .row
      //- .col-12.pt-5
      //-   .card
      //-     .card-header.font-weight-bold Secuela
      //-     .card-body
      //-       #secuela.typeface
      //-         .form-group.m-0
      //-           .row
      //-             .col-12.col-lg-3.mb-4.mb-lg-0
      //-               label(for="secuela-wght") Weight
      //-               input.form-control-range(
      //-                 type="range"
      //-                 step="0.01"
      //-                 data-typeface="secuela"
      //-                 class="wght"
      //-                 id="secuela-wght"
      //-                 name="wght"
      //-                 value="200"
      //-                 min="200"
      //-                 max="900"
      //-               )
      //-             .col-12.col-lg-9
      //-               .row
      //-                 .col-12
      //-                   small Regular
      //-                   .sample(
      //-                     style="font-family: Secuela, sans-serif; font-variation-settings: 'wght' 200; font-size: 40px;"
      //-                     contenteditable="true"
      //-                     autocomplete="off"
      //-                     autocorrect="off"
      //-                     autocapitalize="off"
      //-                     spellcheck="false"
      //-                   ) Hello, Bart. I'm weaving on a loom!
      //-               .row
      //-                 .col-12
      //-                   small Italic
      //-                   .sample.m-0(
      //-                     style="font-family: Secuela, sans-serif; font-style: italic; font-variation-settings: 'wght' 200; font-size: 40px;"
      //-                     contenteditable="true"
      //-                     autocomplete="off"
      //-                     autocorrect="off"
      //-                     autocapitalize="off"
      //-                     spellcheck="false"
      //-                   ) Hello, Bart. I'm weaving on a loom!
      //- 
      //- .col-12.pt-5
      //-   .card
      //-     .card-header.font-weight-bold Rocher Color GX
      //-     .card-body
      //-       #rocher-color.typeface
      //-         .form-group.m-0
      //-           .row
      //-             .col-12.col-lg-3.mb-4.mb-lg-0
      //-               label(for="rocher-color-BVEL") Bevel
      //-               input.form-control-range.mb-3(
      //-                 type="range" 
      //-                 step="0.01" 
      //-                 data-typeface="rocher-color" 
      //-                 id="rocher-color-BVEL" 
      //-                 name="BVEL" 
      //-                 value="0" 
      //-                 min="0" 
      //-                 max="100"
      //-               )
      //- 
      //-               label(for="rocher-color-SHDW") Shadow
      //-               input.form-control-range.mb-3(
      //-                 type="range"
      //-                 step="0.01"
      //-                 data-typeface="rocher-color"
      //-                 id="rocher-color-SHDW"
      //-                 name="SHDW"
      //-                 value="0"
      //-                 min="0"
      //-                 max="100"
      //-               )
      //-             .col-12.col-lg-9
      //-               .row
      //-                 .col-12
      //-                   .sample(
      //-                     style="font-family: 'Rocher Color', 'Adobe Blank'; font-size: 5.5em; font-variation-settings: 'BVEL' 0,'SHDW' 0;"
      //-                     contenteditable="true"
      //-                     autocomplete="off"
      //-                     autocorrect="off"
      //-                     autocapitalize="off"
      //-                     spellcheck="false"
      //-                   ) Hello, Bart. I'm weaving on a loom!

      .col-12.pt-5
        .card
          .card-header.font-weight-bold Grade GX
          .card-body
            #grade.typeface
              .form-group.m-0
                .row
                  .col-12.col-lg-3.mb-4.mb-lg-0
                    label(for="grade-wght") Grade
                    input.form-control-range.mb-3(
                      type="range" 
                      step="0.01" 
                      data-typeface="grade" 
                      id="grade-wght" 
                      name="wght" 
                      value="80" 
                      min="80" 
                      max="150"
                    )
                    label(for="grade-wdth") Width
                    input.form-control-range.mb-3(
                      type="range" 
                      step="0.01" 
                      data-typeface="grade" 
                      id="grade-wdth" 
                      name="wdth" 
                      value="90" 
                      min="90" 
                      max="110"
                    )
                    label(for="grade-transition-duration") transition duration
                    input.form-control-range.mb-3(
                      type="range" 
                      step="0.01" 
                      data-typeface="grade" 
                      id="grade-transition-duration" 
                      name="transition-duration" 
                      value="0" 
                      min="0" 
                      max="1000"
                    )
                  .col-12.col-lg-9
                    .row
                      .col-12
                        .sample(
                          style="font-family: 'GradeGX'; font-size: 5.5em; font-variation-settings: 'wght' 80,'wdth' 90;"
                          contenteditable="true"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          spellcheck="false"
                        ) Hello, Bart. I'm weaving on a loom!
                        
    button(id='my-button') enable puck js
