extends containers/base

block content
  #grade.typeface
    .form-group.pb-3
      .form-control-container
        label(for="grade-wght") Grade
        input.form-control-range.mb-3(
          type="range" 
          step="0.01" 
          data-typeface="grade" 
          id="grade-wght" 
          name="wght" 
          value="80" 
          min="80" 
          max="150"
        )
        label(for="grade-wdth") Width
        input.form-control-range.mb-3(
          type="range" 
          step="0.01" 
          data-typeface="grade" 
          id="grade-wdth" 
          name="wdth" 
          value="90" 
          min="90" 
          max="110"
        )
        label(for="grade-transition-duration") transition duration
        input.form-control-range.mb-3(
          type="range" 
          step="0.01" 
          data-typeface="grade" 
          id="grade-transition-duration" 
          name="transition-duration" 
          value="800" 
          min="0" 
          max="1000"
        )
        button(id='my-button') enable puck js
      .container
        .row
          .col-12
            .sample(
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
            ) 
              span.grey.oblique Meeting —<br>
              span.white SK-II review in 5 mins.<br>In Ciao.
              
  //- #grade2
  //-   .form-group.m-0
  //-     .container
  //-       .row
  //-         .col-12
  //-           .sample(
  //-             autocomplete="off"
  //-             autocorrect="off"
  //-             autocapitalize="off"
  //-             spellcheck="false"
  //-           ) 
  //-             span.grey.oblique Meeting —<br>
  //-             span.white SK-II review in 5 mins.<br>In Ciao.
