extends containers/base

block content
  #grade.typeface
    .form-group.m-0
      .form-control-container
        label(for="grade-wght") Grade
        input.form-control-range.mb-3(
          type="range" 
          step="0.01" 
          data-typeface="grade" 
          id="grade-wght" 
          name="wght" 
          value="80" 
          min="80" 
          max="150"
        )
        label(for="grade-wdth") Width
        input.form-control-range.mb-3(
          type="range" 
          step="0.01" 
          data-typeface="grade" 
          id="grade-wdth" 
          name="wdth" 
          value="90" 
          min="90" 
          max="110"
        )
      .container
        .row
          .col-12
            .sample(
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
            ) 
              span.grey.oblique Meeting —<br>
              span.white SK-II review in 5 mins.<br>In Ciao.
